// écriture

// .marcellus-regular {
//   font-family: "Marcellus", serif;
//   font-weight: 400;
//   font-style: normal;
// }
// .mulish-<uniquifier> {
//   font-family: "Mulish", sans-serif;
//   font-optical-sizing: auto;
//   font-weight: <weight>;
//   font-style: normal;
// }
.Section-Home {
    height: auto;
    padding: 10px;
    // background-color: red;
    color: white;
    .Title-Section{
        margin: 20px 0px;
        font-family: "Marcellus", serif;
        font-size: large;
    }
    .New-book-card{
        display: flex;
        margin: 40px 0px;
        justify-content: space-around;
    }
}

