.Section-Resume{
    background-color: gray;
    position: relative;
      width: 100%;
      height: 90%;
        z-index: 5;
display: flex;
justify-content: center;
align-items: center;
    .Resume{
        display: flex;
justify-content: center;
        width: 90%;
        position: relative;
        height: 100px;
        padding: 5px;
        background-color: rebeccapurple;
        z-index: 10;
    }
}