.Card {
    width: 100px;
    height: 180px;
    background-color: transparent;
    border-radius: 10px;
    color: white;

    .Img-books {
        img {
            width: 100px;
            height: 150px;
            border-radius: 7px;
            object-fit: cover;
            // box-shadow: rgba(255, 255, 255, 0.19) 0px 10px 20px, rgba(255, 255, 255, 0.23) 0px 3px 4px;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        }
    }
    .Title-books {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        font-family: 'Mulish', sans-serif;
        font-weight: 300;
        font-size: 0.9rem;
        h3 {
            white-space: nowrap;       // Empêche le texte de passer à la ligne
            overflow: hidden;         // Cache le texte qui dépasse
            text-overflow: ellipsis;   // Ajoute "..." quand le texte est coupé
            max-width: 100px;         // Largeur maximale égale à celle de la carte
            text-align: center;      // Centre le texte
        }
    }
}
