.Navbar-section {
    .Navbar {
        display: flex;
        flex-direction: column;

        .Navbar-title {
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            .navbar-logo {
                img {
                    height: 55px;
                    object-fit: cover;
                }
            }
            
        }

        .Search-section {
            display: flex;
            color: var(--text-color);
        }
    }
}
