.Categories-Container {
    margin: 40px 0;
    .Title-Categories {
        margin: 20px 0px;
        font-family: 'Marcellus', serif;
        font-size: large;
        display: flex;
            justify-content: center;
        
            font-size: 1.4rem;
         
    }
    .Categories-card {
        display: flex;
        margin: 40px 0px;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 20px;
        padding: 0px 5px;
    }
    .Title-Categories{
        font-size: 1.6rem;
        font-family: 'Marcellus', serif;
        margin: 50px 0;
    }
    .Section-Author {
        h2 {
            font-size: 1.4rem;
            font-family: 'Marcellus', serif;
            margin: 40px 0;
            display: flex;
            justify-content: center;
        }
        .Author-group {
            font-family: 'Mulish', sans-serif;
            .Author-name {
                margin: 40px 0;
                font-size: 1.2rem;
            }
            .Author-books {
                margin: 0 10px;
                display: flex;
                // justify-content: space-evenly;
                align-items: center;
                flex-wrap: wrap;
                gap: 15px;
            }
        }
    }
    .Section-AllBooks {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        h2{
            font-family: "Marcellus", serif;
            font-size: 1.4rem;
            margin-bottom: 40px;
        }
        .AllBooks-grid {
            justify-content: center;

            display: flex;
            // justify-content: space-between;
            gap: 20px;
            flex-wrap: wrap;
        }
    }
}

