.Search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: rgba(44, 44, 44, 0.568);
    width: 100%;
    position: relative;
    form {
        display: flex;
        align-items: center;

        #Rechercher {
            width: 250px;
            height: 25px;
            border-radius: 25px;
            background-color: rgb(0, 0, 0);
            padding: 0px 10px;
            border-color: transparent;
        }
        .recherche {
            // color: black;
            position: relative;
            right: 30px;
            width: 15px;
        }
    }
}
